Django==4.2.6
django-crispy-forms==2.1
django-import-export==4.0.2
django-model-utils==4.4.0
django-phonenumber-field==7.3.0
django-widget-tweaks==1.5.0
Flask-SocketIO==5.3.6
fonttools==4.50.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.2
gunicorn==21.2.0
h11==0.14.0
idna==3.6
ifaddr==0.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
macholib==1.16.3
MarkupSafe==2.1.3
matplotlib==3.8.3
modulegraph==0.19.6
MouseInfo==0.1.3
mss==9.0.1
netifaces==0.11.0
numpy==1.26.2
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
pep517==0.13.1
Pillow==10.1.0
platformdirs==4.0.0
SQLAlchemy==2.0.30
sqlparse==0.4.4
ssm-python==0.0.2
starlette==0.27.0
tablib==3.5.0
